body{
    background-color: #228c6c;
background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
margin: 0%;
font-family: 'Gabriela';
font-size: 30px;
}

header{
    display: flex;
    flex-direction: column;
}

.index{
    display: flex;
    justify-content: center;
    height: fit-content;
    font-size: 128px;
    width: 100vw;
    background-color: #7FC29B;
    color: black;
}

button{
    height: 10vh;
}

ul{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: #803d64;
}

ul a{
    background-color: #803d64;
    font-size: 40px;
    color: white;
}

a{
    text-decoration: none;
}

.links{
    margin: 0%;
}

.hero{
background-image: url(IMG/img-00.png);
    width: 100%;
    height: 45vh;
    margin-bottom: 10%;
}

.ssm{
    margin-left: 10%;
    margin-right: 10%;
}

.Welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-color: #3C0375;
    color: #fff;
    border-radius: 35%;
    height:60vh ;
    margin-bottom: 5%;
}

.Welcome h3{
    font-size: 60px;
    margin: 0;
    margin-top: 5%;
}

.Welcome p{

    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.quote{
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;

    width: 35vw;
    height: 30vw;
    border-radius: 45%;
    background-color: #DD7393;
}

.quote i {
    text-align: right;
    font-size: 20px;
width: 20%;
}

.quote p{
    text-align: center;
    width: 100%;
}

